@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Inconsolata', sans-serif;
    background-image: url(fondo.jpg);
}
h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

.input-cuadrado{
    font-size: 2rem;
}
h1, h2 , .input-cuadrado, .perimetro, .area{
    display: inline-block;
    margin: 0 0 0 5rem;
    background-color: rgba(255, 255, 255, 0.459);
    color:#b12900;
    font-weight:600;
}

.perimetro, .area{
    width: auto;
    height: 2em;
    border-radius: 50px;
}
